body {
    background-image: url(./img/lightningstrike.png);
    margin: 0;
    background-size: cover;
}

.weather-days {
    border: 5px solid coral;
    padding: 10px;
    color: aqua;
}

.header {
    color: azure;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to right, rgb(0, 8, 255), rgb(0, 255, 229));
    padding: 30px;

}



.search-cont {
    border: 5px solid coral;
    color: aqua;
    padding: 10px;
    flex-basis: 30%;
}

.form-control {
    color: aqua;
}



.weather-days-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    text-decoration-color: aquamarine;
}

.green {
    background-color: green
}

.yellow {
    background-color: yellow
}

.red {
    background-color: red
}

.purple {
    background-color: purple
}

.blue {
    background-color: blue;
}

.add-uv-color {
    color: white;
}